[submodule "tests/ruby-compiler-ram"]
	path = tests/ruby-compiler-ram
	url = https://github.com/pmq20/ruby-compiler-ram.git
[submodule "tests/ruby-compiler-blbt"]
	path = tests/ruby-compiler-blbt
	url = https://github.com/pmq20/ruby-compiler-blbt.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib.git
[submodule "vendor/libyaml"]
	path = vendor/libyaml
	url = https://github.com/yaml/libyaml.git
[submodule "vendor/readline"]
	path = vendor/readline
	url = https://git.savannah.gnu.org/git/readline.git
[submodule "vendor/openssl"]
	path = vendor/openssl
	url = https://github.com/openssl/openssl.git
[submodule "vendor/ncurses"]
	path = vendor/ncurses
	url = https://github.com/mirror/ncurses.git
[submodule "vendor/libffi"]
	path = vendor/libffi
	url = https://github.com/libffi/libffi.git
[submodule "vendor/yaml"]
	path = vendor/yaml
	url = https://github.com/yaml/libyaml
